* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 100%;
    margin: auto;
    padding: 20px o;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 120px;
    cursor: pointer;
    border-radius: 90px;
}
.navbar ul {
    /* display: flex; */
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li:last-child {
    margin-right: 0px;
}
.navbar ul li:nth-child(3){

}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #f766ae;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: lightcoral;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
.butt1 {
}
.last{
    display: flex;
    justify-content: space-between;
}
.background2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../day4/Alberobello-Trulli-1.webp);
    background-size: cover;
    background-position: center;
}
.img1{
    width: 254px;
    padding: 20px;
}
.img2{
    width: 300px;   
    padding: 20px;
}
.content2{
    width: 100%;
    position: absolute;
    top: 150%;
    text-align: center;
    transform: translateY(90%);
    color: #fff;
}
.content2 h2 {
    font-size: 70px;
    margin-top: -100px;
}
.last2{
    display: flex;
    justify-content: space-between;
}
.background3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../day4/Alberobello-Trulli-1.webp);
    background-size: cover;
    background-position: center;
}
.img3{
    width: 300px;
    padding: 20px;
}
.img4{
    width: 300px;   
    padding: 20px;
}
.content3{
    width: 100%;
    position: absolute;
    top: 250%;
    text-align: center;
    transform: translateY(0%);
    color: #fff;
}